.coneiner {
    width: 1280px;
    margin: auto;
}

a {
    color: #000;
}

.header {
    height: 190px;
}

.logo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    color: #000000;
}

.logo_p {
    color: #4BCAFF;
}

.top-menu {
    display: flex;
    background-color: #35444F;
    justify-content: center;
    margin: 40px 0 0 0;
    height: 70px;
    padding: 0;
}


.top-menu-list {
    border-left: 1px solid #FFFFFF;
    display: block;
    height: 100%;
}

.top-menu-list:hover {
    background-color: rgba(34, 47, 58, 1);
}

.top-menu>li:nth-child(4){
    border-right: 1px solid #FFFFFF;
}


.top-menu-link {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 25px 33px 0 33px;

}

.main-content {
    display: flex;
    justify-content: space-between;
    margin: auto
}

.left-menu {
    margin-top: 50px;
}

.left-menu-list {
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid rgba(0, 0, 0, 1);
    width: 345px;
    height: 375px;
    margin: 0;
    padding-left: 0;
}

.left-menu-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    padding : 25px 0;
}

.left-menu-item:hover {
    display: block;
    width: 345px;
    height: 65px;
    background: #DBDBDB;
    padding-top: 25px;
    padding-left: 70px;
    

}

.left-menu-link {
    padding-left: 40px;
}

.main-logo {
    margin: 50px;
}

.box-logo {
    width: 885px;
    height: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.0001);
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid rgba(0, 0, 0, 1);
}

.box-logo-img {
    transition-duration: 200ms;
}
.box-logo-img:hover {
    width: 340px;
    height: 400px;


}

.text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.footer { 
    height: 70px;
    background: rgba(99, 105, 110, 0.48);
}

.footer-list {
    display: flex;
    padding: 0 40px;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.footer-list-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
}

.footer-list-link {
    margin-right: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}

.footer-list-link:hover {
    color: rgba(49, 129, 166, 1);
    padding-bottom: 5px;
    border-bottom: 1px solid #3181A6;
}